.App {
  height: 100%;
  width: 100vw;
  text-align: center;
  background-color: beige;
  margin-top: 0;
  display: grid;
  grid-template: 10vh 10vh 100% / 7fr 3fr;
}

@media only screen and (max-width: 600px) {
  .App {
    grid-template: 10vh 10vh 100% / 1fr;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  background-color: rgb(6, 21, 71);
  grid-area: 1/1/2/3;
  color: white;
}

@media only screen and (max-width: 600px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.articleList {
  background-color: white;
  grid-area: 3/1/4/2;
  margin: 20px;
  min-height: 400px;
  max-width: 100vw;
}

@media only screen and (max-width: 600px) {
  .articleList {
    margin: 0px;
  }
}

.sidebar {
  grid-area: 3/2/4/3;
  background-color: lightgreen;
  margin: 20px 20px 20px 0px;
  min-height: 400px;
}

a {
  text-decoration: none;
  color: black;
}

#addButton {
  width: 30px;
  margin-top: 10px;
  align-self: center;
  border-radius: 50%;
  height: 30px;
}

.editArticleForm {
  width: 95%;
  line-height: 1em;
  height: 400px;
  margin-bottom: 40px;
}

.articleText {
  width: inherit;
  font-family: inherit;
  height: 100%;
  overflow-y: visible;
  line-height: 2em;
}
