.App {
  height: 100%;
  width: 100vw;
  text-align: center;
  /* background-color: beige; */
  background-color: transparent;
  margin-top: 0;
  display: grid;
  grid-template: 10vh 10vh 100% / 7fr 3fr;
}

@media only screen and (max-width: 980px) {
  .App {
    grid-template: 10vh 10vh 100% / 1fr;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  /* background-color: rgb(6, 21, 71); */
  background-image: linear-gradient(black, transparent);
  grid-area: 1/1/2/3;
  color: white;
}

@media only screen and (max-width: 600px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.searchBar {
  width: 90px;
  transition: width 1s;
}

.searchBar:hover,
.searchBar:focus {
  width: 180px;
}

@media only screen and (max-width: 600px) {
  .searchBar {
    width: 50vw;
    transition: width 0s;
  }
}

.articleList {
  background-color: white;
  grid-area: 3/1/4/2;
  margin: 20px;
  min-height: 400px;
  max-width: 100vw;
}

@media only screen and (max-width: 600px) {
  .articleList {
    margin: 0px;
  }
}

.sidebar {
  grid-area: 3/2/4/3;
  /* background-color: rgb(120, 135, 171); */
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px 20px 20px 0px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
}

#addButton {
  width: 30px;
  margin-top: 10px;
  align-self: center;
  border-radius: 50%;
  height: 30px;
}

.editArticleForm {
  width: 95%;
  line-height: 1em;
  height: 400px;
  margin-bottom: 40px;
}

.articleText {
  width: inherit;
  font-family: inherit;
  height: 100%;
  overflow-y: visible;
  line-height: 2em;
}

.newTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.newTitleInput {
  width: 500px;
  height: 40px;
  font-size: 2em;
}

.newBodyInput {
  width: inherit;
  font-family: inherit;
  height: 100%;
  overflow-y: visible;
  line-height: 2em;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .newTitle {
    max-width: 90vw;
  }

  .newTitleInput {
    width: 90vw;
  }

  .newBodyInput {
    width: 93vw;
    overflow-y: scroll;
    height: 40vh;
  }
}

.star {
  border-color: transparent;
}

.thumbs,
.emoji {
  color: transparent;
  text-shadow: 0 0 0 black;
}

.commentBubble {
  color: transparent;
  text-shadow: 0 0 0 black;
  font-size: 0.7em;
}

.bold {
  font-weight: bold;
}

.bold:hover {
  text-decoration: underline;
}

@keyframes colorChange {
  0% {
    filter: invert(10%);
  }
  50% {
    filter: invert(30%);
  }
  100% {
    filter: invert(10%);
  }
}

@keyframes colorChange2 {
  0% {
    filter: invert(30%);
  }
  50% {
    filter: invert(10%);
  }
  100% {
    filter: invert(30%);
  }
}

#background {
  height: 150vw;
  width: 150vw;
  display: grid;
  /* grid-template: repeat(4, 57.5px 115px) / repeat(12, 211px); */
  grid-template: repeat(6, 64px 128px) / repeat(12, 219px);
  grid-gap: 0px;
  z-index: -1000;
  margin-top: -20%;
  margin-left: -20%;
  position: fixed;
}

@media only screen and (max-width: 600px) {
  #background {
    margin: -40%;
  }
}

.hex {
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
